<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Inchoo_Ticket::ticket" title="Ticket" translate="title" module="Inchoo_Ticket" sortOrder="100" parent="Magento_Customer::customer" action="ticket/ticket/index" resource="Inchoo_Ticket::ticket"/>
    </menu>
</config>